@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

:root{
    --very-dark-magenta: hsl(303, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}



body{
    display: grid;
    place-content: center;
    font-family: 'League Spartan', sans-serif;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;

}
.top h1{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
    margin-bottom: 2.5rem;
    padding: 0 2rem;
}
.container{
    margin: 2rem 0;
}
.top .left p{
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-grayish-magenta);
    margin-bottom: 2.5rem;
    padding: 0 2rem;
}
.top .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
}
.top .right>div{
    background-color: var(--light-grayish-magenta);
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 10px;
    width: 100%;
    margin-bottom:1.5rem ;
}
.top .right>div p{
    margin: 1.5rem 0 0 0;
    color: var(--very-dark-magenta);
    font-weight: 700;
}
.bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 2rem;
}

.bottom .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    width: 100%;
    color: var(--white);
}

.bottom .about{
    display: flex;
    text-align: start;
}

.bottom .card img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}
.bottom .card .text{
    margin: 1.5rem 0;
}
.bottom .card .text p{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--soft-pink);
}
.bottom .card .text>p{
    color: var(--white);
}

@media (min-width:654px){
    .container{
        max-width: 111rem;
    }
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .top .left h1{
        text-align: start;
        width: 32.8rem;
        white-space: 0.5rem;
    }
    .top .left p{
        text-align: start;
        width: 41.1rem;
        white-space: 0.5rem;
    }
    .top .right{
        max-width: 54.7rem;
    }
    .top .right>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: 0.5rem 0;
        flex-direction: column;
        padding: 2rem 2rem;
    }
    .top .right>div p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .right img{
        width: 1rem;
    }
    .right .first{
        position: relative;
        right: 4rem;
    }
    .right .third{
        position: relative;
        left: 4rem;
    }
    .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
    .bottom .card:nth-child(2){
        position: relative;
        top: 2rem;
    }
    .bottom .card:nth-child(3){
        position: relative;
        top: 4rem;
    }
    body{
        height: 100vh;
    }
}
@media (min-width:999px){
    .top .right>div{
        flex-direction: row;
    }
    .top .right>div p{
        margin-top: 0;
    }
    
}

